name: Test Action
on: [pull_request, push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: lint with config
        uses: ./
        with:
          # config_file: .yamllint.yml
          file_or_dir: ./
          # config_data: |
          #   extends: default
          #   ignore: nok.yaml
          #   rules:
          #     line-length:
          #       max: 120

      - name: lint all - no warnings (continue on error)
        continue-on-error: true
        uses: ./
        with:
          # config_file: .yamllint.yml
          file_or_dir: ./
          strict: true
          no_warnings: true

      - name: lint all (continue on error)
        continue-on-error: true
        uses: ./
        with:
          # config_file: .yamllint.yml
          file_or_dir: ./
          strict: true
